body{
    background-color: cornflowerblue;
    
  }
  .container{
    text-align: center;
    background-color: white;
    margin-top: 3cm;
    margin-left: 14.5cm;
    margin-right: 14.5cm;
  }
  .main{
      font-size:large;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .select{
      text-align: left;
      margin-left: 1.5cm;
  }